body {
    font-family: 'Press Start 2P', cursive;
    background-color: #f0f0f0;
    color: #333;
  }
  
  header {
    background-color: #b22222;
    color: white;
    padding: 20px;
    text-align: center;
  }

  a:visited { 
    text-decoration: none; 
    color: whitesmoke; 
   }

   h2 {
    color: #003a70;
    text-align: center;
   }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-item {
    background-color: #fff;
    border: 2px solid #7f5539;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .product-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #003a70; /* Blue text */
  }
  
  .product-item p {
    font-size: 0.9em;
  }
  
  footer {
    background-color: #b22222; /* Blue footer */
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  /* Popup Styles (Updated) */
  .popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
  .popup-content {
    background-color: #fff;
    margin: 10% auto; 
    padding: 20px;
    border: 2px solid #0056b3;
    width: 80%; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    position: relative;
    text-align: center
  }
  
  .close {
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #0056b3;
  }
  
  #popupImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  #popupTitle {
    font-size: 1.5em;
    color: #003a70; /* Blue text */
    margin-bottom: 10px;
  }
  
  #popupDescription {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  #popupWhatsapp {
    background-color: #003a70;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #popupWhatsapp:hover {
    background-color: #7f5539;
  }
  
  #popupDownload {
    background-color: #003a70;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
  }
  
  #popupDownload:hover {
    background-color: #7f5539;
  }